/*
 * -------------------------------------------------
 *  Taxa_profiling Nextflow config file
 * -------------------------------------------------
 */

params {

  // paths
  GAGA_IDs = './GAGA_IDs.txt'
  initial_assembly_dir = '/home/people/dinghe/ku_00039/people/dinghe/working_dr/metagenome_assembly/initial_assembly/metaflye/metagenome_candidate_reads'
  GAGA_Bac_screen_dir = '/home/people/dinghe/ku_00039/people/dinghe/working_dr/metagenome_lgt/GAGA'
  metaquast_dir = '/home/people/dinghe/ku_00039/people/dinghe/working_dr/metagenome_assembly/assembly_assessment/metaquast'
  taxonomy_profile_dir = '/home/people/dinghe/ku_00039/people/dinghe/working_dr/metagenome_assembly/assembly_assessment/taxonomy_profile'
  krakenDB = '/home/people/dinghe/ku_00039/people/dinghe/krakenDB/kraken_STD_21052021'
  kronatools_dir = '/home/people/dinghe/github/Krona/KronaTools/bin'

}

process {

  withLabel: 'single_core' {
    cpus = 1
    memory = '4 GB'
    time = '1h'
  }

  withLabel: 'multi_core' {
    cpus = 40
    memory = '180 GB'
    time = '2h'
  }

}

profiles {

  computerome {

    process.executor = 'pbs'
    process.module = 'tools'

  }

  stantard {
    process.executor = 'local'
  }

}

manifest {
  name = 'kraken2 taxa profiling'
  author = 'Ding He'
  description = 'kraken2 taxa profiling'
  mainScript = 'Taxa_profiling.nf'
  nextflowVersion = '>=20.10.0'
  version = '0.1'
}
