/*
 * -------------------------------------------------
 *  test1 Nextflow config file
 * -------------------------------------------------
 */

params {

  // default variables
  pacbio = true
  stLFR = false

  // paths
  outdir = './results'
  GAGA_IDs = './GAGA_IDs.txt'
  raw_reads_dr = '/home/projects/ku_00039/people/dinghe/data/GAGA/Raw_genome_reads'
  initial_assembly_dir = '/home/people/dinghe/ku_00039/people/dinghe/working_dr/metagenome_assembly/initial_assembly/metaflye/metagenome_candidate_reads'
  GAGA_Bac_screen_dir = '/home/people/dinghe/ku_00039/people/dinghe/working_dr/metagenome_lgt/GAGA/'
  metaquast_dir = '/home/people/dinghe/ku_00039/people/dinghe/working_dr/metagenome_assembly/assembly_assessment/metaquast'
  taxonomy_profile_dir = '/home/people/dinghe/ku_00039/people/dinghe/working_dr/metagenome_assembly/assembly_assessment/taxonomy_profile'
  krakenDB = '/home/people/dinghe/ku_00039/people/dinghe/krakenDB/kraken_STD_21052021'
  kronatools_dir = '/home/people/dinghe/github/Krona/KronaTools/bin'

}

manifest {
  name = 'test1'
  author = 'Ding He'
  description = 'Test 1'
  mainScript = 'test1.nf'
  nextflowVersion = '>=20.10.0'
  version = '0.1'
}

profiles {
  computerome {

    process.executor = 'pbs'
    process.module = 'java/1.8.0:jre/1.8.0:oracle_jdk/9.0.4:nextflow/20.10.0'

    withLabel: 'single_core' {
       process.cpus = 1
       process.memory = '4 GB'
       process.time = '24h'
       process.queue = 'long'
       process.clusterOptions = '--W group_list=ku_00039 -A ku_00039 -m n'
    }

    withLabel: 'multi_core' {
      process.cpus = 40
      process.memory = '180 GB'
      process.time = '24h'
      process.queue = 'long'
      process.clusterOptions = '--W group_list=ku_00039 -A ku_00039 -m n'
    }

  }

  local {
    process.executor = 'local'
  }

}
