/*
 * -------------------------------------------------
 *  test1 Nextflow config file
 * -------------------------------------------------
 */

params {
  GAGA_IDs = "$workDir/GAGA_IDs.txt"
  raw_reads_dr = '/home/projects/ku_00039/people/dinghe/data/GAGA/Raw_genome_reads'
  initial_assembly_dir=/home/people/dinghe/ku_00039/people/dinghe/working_dr/metagenome_assembly/initial_assembly/metaflye/metagenome_candidate_reads
  GAGA_Bac_screen_dir=/home/people/dinghe/ku_00039/people/dinghe/working_dr/metagenome_lgt/GAGA/${id}
  metaquast_dir=/home/people/dinghe/ku_00039/people/dinghe/working_dr/metagenome_assembly/assembly_assessment/metaquast
  taxonomy_profile_dir=/home/people/dinghe/ku_00039/people/dinghe/working_dr/metagenome_assembly/assembly_assessment/taxonomy_profile
  krakenDB=/home/people/dinghe/ku_00039/people/dinghe/krakenDB/kraken_STD_21052021
  kronatools_dir=/home/people/dinghe/github/Krona/KronaTools/bin
}

 timeline {
   enabled = true
   file = "${params.tracedir}/execution_timeline.html"
 }
 report {
   enabled = true
   file = "${params.tracedir}/execution_report.html"
 }
 trace {
   enabled = true
   file = "${params.tracedir}/execution_trace.txt"
 }
 dag {
   enabled = true
   file = "${params.tracedir}/pipeline_dag.svg"
 }

 manifest {
   name = 'test1'
   author = 'Ding He'
   description = 'Test 1'
   mainScript = 'test1.nf'
   nextflowVersion = '>=20.10.0'
   version = '0.1'
 }
